{
  "endOfLine": "lf",
  "printWidth": 120,
  "tabWidth": 4,
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
